force-app/main/default/flows/LeadCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>SetCompany</name>
        <label>SetCompany</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NewLead.Personne_morale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.txt_description_activite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLead</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LeadCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCreationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLead</name>
        <label>CreateLead</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>RedirectionToNewLeadRecordScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Nouvelle_Piste_Erreur</targetReference>
        </faultConnector>
        <inputReference>NewLead</inputReference>
    </recordCreates>
    <screens>
        <name>LeadInformation</name>
        <label>LeadInformation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetCompany</targetReference>
        </connector>
        <fields>
            <name>PersonalInformation</name>
            <fieldText>Informations personnelles</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PersonalInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewLead.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PersonalInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewLead.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewLead.MobilePhone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CompanyDetails</name>
            <fieldText>Détails de la société</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompanyDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanySearch</name>
                    <extensionName>c:companySearchFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>companyInput</name>
                        <value>
                            <elementReference>NewLead.Company</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>CompanyName</assignToReference>
                        <name>companyNameOutput</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SelectedAccountId</assignToReference>
                        <name>selectedAccountOutput</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddressInformation</name>
            <fieldText>Informations d&apos;adresse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddressInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewLead.Address</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AdditionalInformation</name>
            <fieldText>Informations supplémentaires</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AdditionalInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentInput</name>
                    <extensionName>c:commentInputFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Comment</assignToReference>
                        <name>commentOutput</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouvelle_Piste_Erreur</name>
        <label>LeadCreationError</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(183, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedirectionToNewLeadRecordScreen</name>
        <label>RedirectionToNewLeadRecordScreen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectionInfoMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://audacia--dev02.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068G5000004rNx5?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;checkMarkIcon.png&quot;&gt;      &lt;span style=&quot;color: rgb(0, 140, 73); font-size: 16px;&quot;&gt;Redirection vers la Piste créée...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NavigationToRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewLead.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LeadInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
